@model IEnumerable<CardValidator.Models.Card>
@inject IHttpContextAccessor Accessor
@{
    ViewData["Title"] = "Index";
    string message = Accessor.HttpContext.Session.GetString("Message");
    Accessor.HttpContext.Session.SetString("Message", string.Empty);
}
<button onclick="ShowModal()" class="btn btn-primary margin-ver">Add card</button>
<table class="table dataTable">
    <thead>
        <tr>
            <th>
                Card Number
            </th>
            <th>
                Provider
            </th>
            <th>
                Date Added
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                 @Html.DisplayFor(modelItem => item.CardNumber)
            </td>
            <td>
                @Html.DisplayFor(model => item.CardProvider.CardProviderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                <a class="btn btn-danger btn-icon" href="/card/deleteCard?id=@item.CardId">
                    <i class="fa fa-trash"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>

<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <form asp-controller="Card" asp-action="SaveCard" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add Card Number</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="email">Card number:</label>
                        <input type="number" name="cardNumber" class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-secondary" onclick="HideModal()">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        if ('@message')
            showNotification('@message');
    </script>
}