html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.margin-ver {
    margin: 15px 0;
}

.margin-hor {
    margin: 0 15px;
}
